* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    width: 1000px;
    min-height: 50vh;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid green;
     gap: 5px 10px;
}

.grid-items {
    background-color: aquamarine;
    border: 1px solid black;
    /* height: 100px; */
}
.item1{
     grid-column: 2/4;
       border: 1px solid green;
       background-color: green;
}

.item2{
    grid-row: 1/4;
      border: 1px solid green;
       background-color: green;
}


.item3{
      border: 1px solid green;
      background-color: red;
}

.item4{
    background-color: yellow;
}

.item5{
     background-color: red;
}


.item6{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: green;
}

.item7{
    background-color: red;
}

.item8{
     background-color: yellow;
}